# Version Control
.svn

# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
/tags
.netbeans.xml

# Compass/SASS/SCSS
.sass-cache

# Other
node_modules

/vendor/
/release/
sassdoc
scss-lint-report.xml
config.codekit

/wordpress/*
!/wordpress/wp-content/
/wordpress/wp-content/index.php
/wordpress/wp-content/*/index.php
/wordpress/wp-content/uploads/
/wordpress/wp-content/plugins/
/wordpress/wp-content/updraft/
/wordpress/wp-content/wflogs/
/wordpress/wp-content/themes/twenty*

/data/db/*
!/data/.gitkeep
!/data/db/*.sql
docker-compose.override.yml

notes.md
/config/elasticsearch/plugins/*
wordpress/wp-content/debug.log
